body {
	font: normal 18px/1.5 BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin: 0;
}

a {
	color: #aaaadd;
}
a:visited {
	color: #6666aa;
}

.layout {
	margin: 0 auto;
	width: 85vmin;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #202025;
		color: #dddddd;
	}
	a {
		color: #cacaee;
	}
	a:visited {
		color: #c6c6dd;
	}
}
