.pagelist {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.pagelist-number, .pagelist-cur {
	margin: 0 .2em;
	text-decoration: none;
}

.pagelist-next, .pagelist-prev {
	color: #444444;
	margin: 0 1em;
}

.pagelist-cur {
	color: #555555;
	font-weight: bold;
	text-decoration: underline;
}
