.entrylist {
	width: 100%;
	overflow-x: auto;
}

.entrylist-table {
	width: 100%;
}

.entrylist-pager-row {
	text-align: justified;
}

.entrylist-row td {
	border-top: 1px solid black;
}

.entrylist-row:nth-child(even) {
	background-color: #F1F1F1;
}

.entrylist-row:hover {
	background: #dddddd55;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.entrylist-row:nth-child(even) {
		background-color: #b1b1b155;
	}
}
